@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin cardImg($width, $height) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-grow: 0;
}
