@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleAva($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    object-fit: cover;
    flex-grow: 0;
}
