// color
$color-black-0: #000000;
#color-black-1: #505050;
$color-blue-1: #aaccff;
$color-blue-2: #e0eeff;
$color-red-0: #ff4500;
$color-gray-0: #a9a9a9;
$color-green-0: #38c55c;

// background
$bg-blue-0: #4d92fb;
$bg-white-0: #ffffff;
