// color
$color-white-0: #ffffff;
$color-black-0: #000000;
$color-black-1: #505050;
$color-blue-1: #aaccff;
$color-blue-2: #4d92fb;
$color-gray-0: #a9a9a9;

// background
$bg-blue-0: #4d92fb;
$bg-blue-1: #e0eeff;
$bg-white-0: #ffffff;
$bg-green-0: #38c55c;
$bg-gray-0: #f0f0f0;
$bg-gray-1: #f5f5f5;
$bg-red-0: #ff4500;

// fs
$fs-0: 14px;
$fs-1: 12px;
$fs-2: 10px;
// fw
$fw-0: bold;

// margin
$mg-0: 9px;
$mg-1: 6px;
$mg-2: 17px;
$mg-3: 68px;
