.Rectangle-238 {
    width: 321px;
    height: 87px;
    display: flex;
    align-items: center;
    .cardmem__ava {
        align-self: flex-start;
        margin-top: 9px;
        .cardmem__img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            flex-grow: 0;
        }
    }
    .cardmem__info {
        flex: 1;
        margin-left: 17px;
        .cardmem__name {
            @include styleText($color-black-0, $fs-0, $fw-0);
            margin-bottom: 6px;
        }
        .cardmem__text {
            @include styleText($color-black-1, $fs-1, $fw-0);
            margin-bottom: 8px;
        }
        .cardmem__date {
            @include styleText($color-blue-2, $fs-2, $fw-0);
        }
    }
}
