.chat__left {
    width: 312px;
    .chat__search {
        height: 50px;
        border-radius: 100px;
        background-color: $color-white-0;
        padding: 10px;
        display: flex;
        align-items: center;
        input {
            border: 0;
            flex-grow: 1;
            padding: 0 0 0 10px
            &:focus {
                outline: none;
            }
        }
    }
}
