.chat__container {
    display: flex;
    height: 100%;
    .chat__left {
        flex-grow: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        .chat__search {
            height: 50px;
            border-radius: 100px;
            background-color: $color-white-0;
            padding: 15px;
            display: flex;
            align-items: center;
            margin-bottom: $mg-2 + 1;
            flex-grow: 0;
            position: fixed;
            z-index: 10;
            width: 321px;
            & i {
                color: $color-gray-0;
                font-size: 25px;
            }
            input {
                border: 0;
                flex-grow: 1;
                padding: 0 0 0 10px;
                &:focus {
                    outline: none;
                }
                &[placeholder] {
                    color: $color-gray-0;
                }
            }
        }
        .chat__list {
            margin-top: $mg-3;
            flex: 1;
            overflow: auto;
            & > * {
                text-decoration: none;
            }
        }
    }
    .chat__right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}
